# Python
__pycache__/
*.pyc

# Logs
logs/
*.log

# Output data
scripts/output/

# Env
.env
.env.local
*.env.local
pfe-backend/.env.local

# Docker
*.pid

# VSCode
.vscode/

# Node
node_modules/

pfe-backend/.env

# local secrets
pfe-backend/.env.local
.env
.env.local
*.env
__pycache__/
linkedin_session.json
.env.local
